<%- include("./includes/head", { pageTitle: "Error" }) %>

</head>
<body>
    <%- include("./includes/header") %>
    <main>
       <h1>Not Authenticated!</h1>
       <p>Your are not authenticated.</p>
       <p><a href="/" class="btn">Back to safety</a></p>
    </main>

<%- include("./includes/footer") %>