<%- include("../../shared/includes/head", { pageTitle: "Admin Products" }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/product-management.js" defer></script>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Products Authorization</h1>
        <section>
            <h1>Manage Product</h1>
            <p><a href="/admin/products/new" class="btn">Add Product</a></p>
        </section>
        <section>
            <ul id="products-grid">
                <% for (let product of products) { %>
                    <%- include("../../shared/includes/product-item", {product}) %>
                <% } %>
            </ul>
        </section>
    </main>

<%- include("../../shared/includes/footer") %>