<%- include("../../shared/includes/head", { pageTitle: "Admin Products" }) %>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Products Authorization</h1>
        <section>
            <h1>Manage Product</h1>
            <p><a href="/admin/products/new" class="btn">Add Product</a></p>
        </section>
        <section>
            <ul>
                <% for (let product of products) { %>
                    <%- include("../includes/product-item", {product}) %>
                <% } %>
            </ul>
        </section>
    </main>

<%- include("../../shared/includes/footer") %>