<%- include("../includes/head", { pageTitle: Signup }) %>
</head>
<body>
    <%- include("../includes/header") %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" minlength="6" name="password">
            </div>
            <hr>
            <div>
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname">
            </div>

            <div>
                <label for="street">Street</label>
                <input type="text" id="street" name="street">
            </div>

            <div>
                <label for="postalCode">Postal Code</label>
                <input type="text" minlength="5" maxlength="5" id="postalCode" name="postalCode">
            </div>
        
            <div>
                <label for="city">City</label>
                <input type="text" id="city" name="city">
            </div>

            <button class="btn" type="submit">Create Account</button>
            <p id="switch-form"><a href="/login">Login instead</a></p>
        </form>
    </main>

<%- include("includes/footer") %>